.records-container {
    margin: 20px;
  }
  
  .records-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .records-table th,
  .records-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .records-table th {
    background-color: #941919; 
    color: white; 
    
  }

  .records-table th:nth-child(4),
.records-table th:nth-child(5),
.records-table td:nth-child(4),
.records-table td:nth-child(5) {
  text-align: center;
  width: 50px; 
}

.records-table th:nth-child(2),
.records-table th:nth-child(3),
.records-table td:nth-child(2),
.records-table td:nth-child(3) {
  width: 150px; 
}
  
  .records-table th,
  .records-table td:nth-child(2),
  .records-table td:nth-child(3),
  .records-table td:nth-child(14) {
    text-align: center;
  }
  
  .records-table th:first-child {
    width: 50px;
  }
  
  /* .records-table th:nth-child(2),
  .records-table th:nth-child(3) {
    width: 120px;
  } */
  
  .records-table td:nth-child(n + 4):nth-child(-n + 12) {
    text-align: center;
  }
  