.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f0f0f0; 
    padding: 20px;
  }
  
  .column {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; Center-align the subtopics in smaller view */
  }
  
  .column h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .logoImage {
    width: 150px;
    height: auto;
  }

 
  
  
  @media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
    
    .column {
      max-width: 100%; 
      margin: 10px 0;
      text-align: center; 
    }
    
    .column h4 {
      text-align: center; 
    }
  }

   .followUsOnColumn p{
    display: inline;
    margin-right: 10px;
    cursor: pointer;
  }
  

  .followUsOnColumn p svg {
    margin-right: 5px;
    transition: transform 0.2s ease, fill 0.2s ease;
    font-size: 30px;
  }
  
  .followUsOnColumn p:hover svg {
    transform: scale(1.8); 
    fill: #007bff; 
  }

  